<!DOCTYPE html>
<html class=''>
<head>
    <title>SunFy Cheng</title>
    <!--<link rel="stylesheet" href="stylesheets/init.css"></link>-->
    <link rel="stylesheet" href="stylesheets/style.css"></link>
    <script src="javascripts/login.js"></script>
</head>
<body>
    <canvas>
    </canvas>
    <div class="stage">
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <div id="Circle" class="Circle" onmousedown="login(this)">
            <span>SunFy Cheng<span>
        </div>

    </div>
    <script src='javascripts/zepto.min.js'></script>
    <!--<script src="javascripts/init.js"></script>-->
</body>
</html>