<!DOCTYPE html>
<html class=''>
<head>
    <title>SunFy Cheng</title>
    <link rel="stylesheet" href="stylesheets/init.css"></link>
    <script src="javascripts/login.js"></script>
</head>
<body>
    <canvas>
    </canvas>
    <div id="Circle" onmousedown="login(this)">
        <span>SunFy Cheng<span>
    </div>
    <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
        <figure class="avatar">
        </figure>
    <script src='javascripts/zepto.min.js'></script>
    <script src="javascripts/init.js"></script>
</body>
</html>