body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 460px;
  width: 480px;
}
.avatar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 64px;
  width: 64px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.avatar:before {
  content: '';
  position: absolute;
  top: -8%;
  right: -8%;
  height: 17.06667px;
  width: 17.06667px;
  background: #bec4bc;
  border-radius: 50%;
  border: 3px solid white;
}
.avatar:nth-of-type(1) {
  -webkit-animation: ani1 2s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: ani1 2s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani1 {
  0%, 20% {
    -webkit-transform: rotate(45deg) translate(0) rotate(-45deg);
            transform: rotate(45deg) translate(0) rotate(-45deg);
  }
  34%, 100% {
    -webkit-transform: rotate(45deg) translate(208px) rotate(-45deg);
            transform: rotate(45deg) translate(208px) rotate(-45deg);
  }
}
@keyframes ani1 {
  0%, 20% {
    -webkit-transform: rotate(45deg) translate(0) rotate(-45deg);
            transform: rotate(45deg) translate(0) rotate(-45deg);
  }
  34%, 100% {
    -webkit-transform: rotate(45deg) translate(208px) rotate(-45deg);
            transform: rotate(45deg) translate(208px) rotate(-45deg);
  }
}
.avatar:nth-of-type(2) {
  -webkit-animation: ani2 2s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: ani2 2s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani2 {
  0%, 20% {
    -webkit-transform: rotate(90deg) translate(0) rotate(-90deg);
            transform: rotate(90deg) translate(0) rotate(-90deg);
  }
  34%, 100% {
    -webkit-transform: rotate(90deg) translate(208px) rotate(-90deg);
            transform: rotate(90deg) translate(208px) rotate(-90deg);
  }
}
@keyframes ani2 {
  0%, 20% {
    -webkit-transform: rotate(90deg) translate(0) rotate(-90deg);
            transform: rotate(90deg) translate(0) rotate(-90deg);
  }
  34%, 100% {
    -webkit-transform: rotate(90deg) translate(208px) rotate(-90deg);
            transform: rotate(90deg) translate(208px) rotate(-90deg);
  }
}
.avatar:nth-of-type(3) {
  -webkit-animation: ani3 2s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: ani3 2s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani3 {
  0%, 20% {
    -webkit-transform: rotate(135deg) translate(0) rotate(-135deg);
            transform: rotate(135deg) translate(0) rotate(-135deg);
  }
  34%, 100% {
    -webkit-transform: rotate(135deg) translate(208px) rotate(-135deg);
            transform: rotate(135deg) translate(208px) rotate(-135deg);
  }
}
@keyframes ani3 {
  0%, 20% {
    -webkit-transform: rotate(135deg) translate(0) rotate(-135deg);
            transform: rotate(135deg) translate(0) rotate(-135deg);
  }
  34%, 100% {
    -webkit-transform: rotate(135deg) translate(208px) rotate(-135deg);
            transform: rotate(135deg) translate(208px) rotate(-135deg);
  }
}
.avatar:nth-of-type(4) {
  -webkit-animation: ani4 2s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: ani4 2s 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani4 {
  0%, 20% {
    -webkit-transform: rotate(180deg) translate(0) rotate(-180deg);
            transform: rotate(180deg) translate(0) rotate(-180deg);
  }
  34%, 100% {
    -webkit-transform: rotate(180deg) translate(208px) rotate(-180deg);
            transform: rotate(180deg) translate(208px) rotate(-180deg);
  }
}
@keyframes ani4 {
  0%, 20% {
    -webkit-transform: rotate(180deg) translate(0) rotate(-180deg);
            transform: rotate(180deg) translate(0) rotate(-180deg);
  }
  34%, 100% {
    -webkit-transform: rotate(180deg) translate(208px) rotate(-180deg);
            transform: rotate(180deg) translate(208px) rotate(-180deg);
  }
}
.avatar:nth-of-type(5) {
  -webkit-animation: ani5 2s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: ani5 2s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani5 {
  0%, 20% {
    -webkit-transform: rotate(225deg) translate(0) rotate(-225deg);
            transform: rotate(225deg) translate(0) rotate(-225deg);
  }
  34%, 100% {
    -webkit-transform: rotate(225deg) translate(208px) rotate(-225deg);
            transform: rotate(225deg) translate(208px) rotate(-225deg);
  }
}
@keyframes ani5 {
  0%, 20% {
    -webkit-transform: rotate(225deg) translate(0) rotate(-225deg);
            transform: rotate(225deg) translate(0) rotate(-225deg);
  }
  34%, 100% {
    -webkit-transform: rotate(225deg) translate(208px) rotate(-225deg);
            transform: rotate(225deg) translate(208px) rotate(-225deg);
  }
}
.avatar:nth-of-type(6) {
  -webkit-animation: ani6 2s 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: ani6 2s 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani6 {
  0%, 20% {
    -webkit-transform: rotate(270deg) translate(0) rotate(-270deg);
            transform: rotate(270deg) translate(0) rotate(-270deg);
  }
  34%, 100% {
    -webkit-transform: rotate(270deg) translate(208px) rotate(-270deg);
            transform: rotate(270deg) translate(208px) rotate(-270deg);
  }
}
@keyframes ani6 {
  0%, 20% {
    -webkit-transform: rotate(270deg) translate(0) rotate(-270deg);
            transform: rotate(270deg) translate(0) rotate(-270deg);
  }
  34%, 100% {
    -webkit-transform: rotate(270deg) translate(208px) rotate(-270deg);
            transform: rotate(270deg) translate(208px) rotate(-270deg);
  }
}
.avatar:nth-of-type(7) {
  -webkit-animation: ani7 2s 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: ani7 2s 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani7 {
  0%, 20% {
    -webkit-transform: rotate(315deg) translate(0) rotate(-315deg);
            transform: rotate(315deg) translate(0) rotate(-315deg);
  }
  34%, 100% {
    -webkit-transform: rotate(315deg) translate(208px) rotate(-315deg);
            transform: rotate(315deg) translate(208px) rotate(-315deg);
  }
}
@keyframes ani7 {
  0%, 20% {
    -webkit-transform: rotate(315deg) translate(0) rotate(-315deg);
            transform: rotate(315deg) translate(0) rotate(-315deg);
  }
  34%, 100% {
    -webkit-transform: rotate(315deg) translate(208px) rotate(-315deg);
            transform: rotate(315deg) translate(208px) rotate(-315deg);
  }
}
.avatar:nth-of-type(8) {
  -webkit-animation: ani8 2s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: ani8 2s 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@-webkit-keyframes ani8 {
  0%, 20% {
    -webkit-transform: rotate(360deg) translate(0) rotate(-360deg);
            transform: rotate(360deg) translate(0) rotate(-360deg);
  }
  34%, 100% {
    -webkit-transform: rotate(360deg) translate(208px) rotate(-360deg);
            transform: rotate(360deg) translate(208px) rotate(-360deg);
  }
}
@keyframes ani8 {
  0%, 20% {
    -webkit-transform: rotate(360deg) translate(0) rotate(-360deg);
            transform: rotate(360deg) translate(0) rotate(-360deg);
  }
  34%, 100% {
    -webkit-transform: rotate(360deg) translate(208px) rotate(-360deg);
            transform: rotate(360deg) translate(208px) rotate(-360deg);
  }
}
.avatar:nth-of-type(4):before, .avatar:nth-of-type(2):before {
  -webkit-animation: bounce 3s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: bounce 3s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(7):before {
  -webkit-animation: bounce 3s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: bounce 3s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(3):before {
  -webkit-animation: bounce 3s 2.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 2.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: bounce 3s 2.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 2.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(1):before {
  -webkit-animation: bounce 3s 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: bounce 3s 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(6):before {
  -webkit-animation: bounce 3s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: bounce 3s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(5):before {
  -webkit-animation: bounce 3s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: bounce 3s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.avatar:nth-of-type(8):before {
  -webkit-animation: bounce 3s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: bounce 3s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, colorchange 1s 4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

 body
{
      margin: 0;
      overflow: hidden;
      background: #E9E9E9;
}
        
.Circle
{
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      width: 150px;
      height: 150px;
      border-radius: 150px;
      background: url('../images/binwdao1.jpg');
}
        
.Circle:before
{
      content: '';
      position: absolute;
      top: -8px;
      left: -8px;
      width: 162px;
      height: 162px;
      border-radius: 162px;
      border: 2px solid #BCBCBC;
}
        
.Circle:after
{
      content: '';
      position: absolute;
      top: -13px;
      left: -13px;
      width: 172px;
      height: 172px;
      border-radius: 172px;
      border: 2px solid #FF9900;
}
        
.Circle span
{
      position: absolute;
      bottom: -60px;
      display: block;
      width: 150px;
      text-align: center;
      font-family: 'Oswald';
      color: #333;
      font-size: 25px;
}


@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  10%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  5% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  10%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(8);
            transform: scale(8);
    opacity: 1.0;
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(0.1, 0.1);
            transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(8);
            transform: scale(8);
    opacity: 1.0;
  }
}
@-webkit-keyframes colorchange {
  0% {
    background: #bec4bc;
  }
  100% {
    background: #b5e763;
  }
}
@keyframes colorchange {
  0% {
    background: #bec4bc;
  }
  100% {
    background: #b5e763;
  }
}
.avatar:nth-of-type(1) {
  background-image: url('../images/binwdao1.jpg');
}

.avatar:nth-of-type(2) {
  background-image: url('../images/binwdao1.jpg');
}

.avatar:nth-of-type(3) {
  background-image: url('../images/binwdao1.jpg');
}

.avatar:nth-of-type(4) {
  background-image: url('../images/binwdao1.jpg');
}

.avatar:nth-of-type(5) {
  background-image: url('../images/binwdao1.jpg');
}

.avatar:nth-of-type(6) {
  background-image: url('../images/binwdao1.jpg');
}

.avatar:nth-of-type(7) {
  background-image: url('../images/binwdao1.jpg');
}

.avatar:nth-of-type(8) {
  background-image: url('../images/binwdao1.jpg');
}